@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Poppins:wght@200;400;600&display=swap');


/* custom colors */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Piazzolla', serif;
font-family: 'Poppins', sans-serif
  
}


:root {
  --bgcolor : #f1f5fd ;
 --primary-color : #6f5de7 ;
 --text-color : #828286 ;
  --main-text-color : #333333 ;
}

html{
 font-size :62.5% ;
}
a {
 text-decoration : none ;
 color:#fff ;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  color: #333333 ;
}

/*.............navbar css...........  */

.navbar-brand {
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  width: 20rem;
}

.category-menu {
  text-transform: capitalize;
  font-weight: 100;
}
.navbar-brand img{
height: 15rem;
padding-bottom: 5rem;
margin-top: -30px;
}

.navbar-bg {
  background-color: var(--bgcolor);
  padding: 2 rem 0;
  z-index: 99;
  position: relative;
}

.navbar li {
  padding: 0 1rem;
}

.navbar li a{
  font-size: 1.7rem;
  font-weight: lighter;
}

.navbar li a:hover {
  color: var(--primary-color);
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

 

 /*.................... navbar ends.................  */






 header{
  background-color: var(--bgcolor);
  min-height: 100vh;
  width: 100%;
}

 .carousel-item img {
width: 500px;
 }




 



.work-container {
  width: 80vw;
  padding: 5rem;
  box-shadow: 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-top: -10rem;
  background-color: #fff;
  border-radius: 0.5rem;

}

.work-container .main-heading{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  word-spacing: 1rem;
}

.work-container-subdiv{
  padding: 0  6rem;

}

.work-container-subdiv img{
  width: 30rem;
  height: 40rem;
}

.work-container .sub-heading{
  font-size: 2rem;
  font-weight: normal;
}

.fontawesome-style{
  font-size: 2.3rem;
  color: var(--primary-color);
  width: 6rem;
  height: 6rem;
  border-radius: var(--bgcolor);
  display: grid;
  place-items: center;
  margin: 2rem auto;
}

/* ---------------------------Work section ends */

/*about us section starts  */

.common-section{
  margin: 5rem 0;

}
.our-services img {
  width: 60%;
  height: 73%;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.25)0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}


.our-services .mini-title{
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}


.our-services .main-heading{
  font-weight: bolder;
}


.our-services-info {
  margin-top: 4rem;
}

/* Service section starts   */
.service-main-container{
  margin-top: 5rem;
  padding: 5rem 0;
}

.service-main-container .main-heading{
  margin: 3rem 0;

}


.service-main-container .btn-stylez {
  margin-left: 73rem;
  margin-top: 6rem;
  font-size: 14px;
  background-color: none;
}

.main-werosection-images {
  margin-left: 45rem;
  width: 45%;
}

/* .work-container-subdiv{
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
} */

.work-container-subdiv:hover{
  background-color: var( --bgcolor);
  cursor: pointer;
}

/* .work-container-subdiv:hover > .fontawesome-style {
  background-color: #fff; 
}

.work-container-subdiv .main-hero-para{
  width: 100%;
} */

.service-main-container .work-container-subdiv .fontawesome-style{
  text-align: left;
  margin: 2rem 0;
}




@media (min-width: 1400px) {
  .service-container .col-xxl-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin:auto;
  }
}

@media (min-width: 992px) {
  .service-container .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}

/* Service section ends   */

/* Contactus section starts   */

.contactus-section {
  margin: 15rem 0;

}

.contact-leftside img{
  min-width: 80%;
   max-height: 30rem;
   margin: 2rem 0;
  }

  .contact-input-field{
    margin-bottom: 4rem;
  }

  .contact-rightside form .form-control {
    border: 1px solid #ced4da;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    font-weight: lighter;
  }

  .contact-rightside form .form-check-input {
    width: 2rem;
    height: 2rem;
  }

  .form-checkbox-style{
    margin: 4rem 0;
  }

  .contact-rightside form .main-hero-para {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
    font-weight: lighter;
    width: 75%;
    padding: 0 2rem;
  }
  
  .form-control{
    height: 5rem;

  }



/* Contactus section ends   */

/* Footer section starts   */


 footer {
  width: 100%;
  height: 30rem;
  padding: 5rem 0;
  background-color: #182334;
  color: #fff;
 }

 footer h2{
  color: #fff;
 }

 footer li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
 }

 footer li:hover{
  color: var(--primary-color);
 }

/* for social medias styling */
footer .fontawesome-style{
  font-size: 2.3rem;
  color: var(--primary-color);
  background-color: transparent;
  width: 0rem;
  height: 0rem;
  margin: 2rem 0;
  cursor: pointer;
 }

 footer .fontawesome-style:hover{
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
  color: #fff;
 }

 @keyframes rotatefont {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
 }

 footer .main-hero-para{
  margin: 0;
 }

 
/* Footer section ends   */


  /* gallery section starts  */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

    /* gallery section ends  */


 @media ( min-width : 1500px ) {

  .container,
  .container- lg ,
  .container- md ,
  .container- sm ,
  .container- xl ,
  .container- xxl {
   max-width :1500px ! important ;
}

}
 
@media ( min-width : 1400px ) {
  .container,
  .container- lg ,
  .container- md ,
  .container- sm ,
  .container- xl ,
  .container- xxl {
   max-width : 1400px ;
 }

}

/* aboutpage starts  */
.main-zero-container{
  height: 80vh;
  display: flex;
}

.main-zerosection-images img{
  width: 60;
  height: 65%;
}

.main-zero-para{
  font-size: 2rem;
  color: var(--text-color);
  font-weight: lighter;
  width: 75%;
  margin-left: 25rem;

}

.main-headzing {
  margin-bottom: 4rem;

}

/* aboutpage ends  */


 .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
 
} 

 .video-frame {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 105%;
}  
.our-services .main-headzing {
  font-size: 2rem;
font-weight: bolder;
margin-top: 2rem;
 }

 .our-services .main-headoing {
    font-size: 2rem;
  font-weight: bolder;
  margin-top: 3rem;
   
 }


  /* about pages start  */

  .product-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  
     
   .product-data-warranty {
             width: 100%;
             display: flex;
             justify-content: space-between;
             align-items: center;
             border-bottom: 1px solid #ccc;
             margin-bottom: 1rem;
   
   }
    
    
    
    .warranty-icon {
             background-color: rgba(220,220,220,0.5);
            border-radius: 50%;
            width: 4rem;
             height: 4rem;
             padding: 0.6rem;
    
          } 

       
      

      p {
        font-size: 1.4rem;
        padding-top: 0.4rem;
     }
    

     .product-data-price {
      font-weight: bold;
    }
  
     .product-data-real-price {
      color: purple;
     }
     
  
    .product-data-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.8rem;
  
      /* span {
          font-weight: bold;
      } */
    }

    hr {
      max-width: 50%;
      width: 50%;
      border: 0.1rem solid #000;
      color: red;
  
  }
  

  .btn-st {
    width: 5%;
   display: flex;
   align-items: center;
   gap: 1rem;
   
  }
  
  .btn-styleq {
    margin-left: 73rem;
    margin-top: 6rem;
    font-size: 14px;
    background-color: none;
  }

  .btn-style{
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: var(--primary-color);
    text-transform: capitalize;
  
   }
  
   .btn-style-border{
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: var(--primary-color);
    text-transform: capitalize;
  
   }


    .datainputs {
      padding-left: 35rem;
    }

    .datainputs h2 {
      align-items: center;
    }
   
     .error-message {
      color: red;
     }

  
  
